* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.1s ease-in-out;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 15px 0 125px 15px;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  font-size: 25px;
  width: 200px;
}

th {
  background-color: #a8a8a875;
  font-weight: bold;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}

.btn:hover {
  background-color: #3e8e41;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px 5px #66666670;
  scale: 0.98;
  transform: translateY(1px);
}

.title {
  padding: 15px;
  border: 2px none;
  background-color: #a8a8a875;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
